In [20]:
import pandas as pd
import numpy as np

# Load the CSV file
df = pd.read_csv("./test_0602/0.csv", header=None)

df[0] = pd.to_datetime(df[0], unit='ms')
df[1] = pd.to_datetime(df[1], unit='ms')

df['ms_diff'] = (df[1] - df[0]).dt.total_seconds() * 1000

pd.DataFrame(df['ms_diff']).describe()

          ms_diff
count  100.000000
mean     1.850000
std      1.986698
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max     12.000000

In [16]:
df['delta'] = (df[0]-df[0].shift()).fillna(0)

In [17]:
deltas_ms = []

for delta in df['delta']:
    if (type(delta) != int):
        deltas_ms.append(delta.total_seconds() * 1000)

deltas_ms = np.array(deltas_ms)

In [18]:
desc = pd.DataFrame(deltas_ms)
desc[0].describe()

count     99.000000
mean     199.989899
std       11.087311
min      172.000000
25%      198.000000
50%      200.000000
75%      203.000000
max      227.000000
Name: 0, dtype: float64

### Delay check to ntp clock

In [12]:
import pandas as pd
import numpy as np
from datetime import datetime

df_orq = pd.read_csv("./out/tmst/orq.csv", header=None)
df_sta = pd.read_csv("./out/tmst/sta.csv", header=None)

In [13]:
df_orq[0] = pd.to_datetime(df_orq[0], unit='ms')
df_sta[0] = pd.to_datetime(df_sta[0], unit='ms')

ms_diff = (df_orq[0] - df_sta[0]).dt.total_seconds() * 1000

pd.DataFrame(ms_diff).describe()

               0
count  100.00000
mean     1.88000
std      1.23321
min      1.00000
25%      1.00000
50%      1.00000
75%      2.00000
max      6.00000