In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import os

path = "./test_0602/"

rgb_images = path + "images/rgb_sta/"
depth_images = path + "images/depth_sta/"

In [2]:
def parse_timestamp(timestamps):
    timestamps_list = []
    for timestamp in timestamps:
        timestamp = timestamp.split(".")[0].split("_")
        timestamps_list.append([int(timestamp[0]), int(timestamp[1])])
    
    return timestamps_list
        # print(timestamp)

rgb_timestamps = sorted(os.listdir(rgb_images))
rgb_timestamps = parse_timestamp(rgb_timestamps)

depth_timestamps = sorted(os.listdir(depth_images))
depth_timestamps = parse_timestamp(depth_timestamps)

print(depth_timestamps)

[[1738852924705, 1738852924718], [1738852924906, 1738852924910], [1738852925104, 1738852925108], [1738852925278, 1738852925283], [1738852925497, 1738852925501], [1738852925694, 1738852925699], [1738852925907, 1738852925912], [1738852926105, 1738852926109], [1738852926304, 1738852926308], [1738852926503, 1738852926508], [1738852926703, 1738852926707], [1738852926875, 1738852926880], [1738852927102, 1738852927106], [1738852927303, 1738852927307], [1738852927506, 1738852927511], [1738852927675, 1738852927683], [1738852927893, 1738852927904], [1738852928078, 1738852928089], [1738852928296, 1738852928300], [1738852928491, 1738852928495], [1738852928699, 1738852928703], [1738852928900, 1738852928904], [1738852929078, 1738852929082], [1738852929306, 1738852929310], [1738852929501, 1738852929507], [1738852929705, 1738852929709], [1738852929903, 1738852929908], [1738852930103, 1738852930107], [1738852930301, 1738852930306], [1738852930504, 1738852930508], [1738852930713, 1738852930718], [1738852930903, 1738852930908], [1738852931104, 1738852931109], [1738852931308, 1738852931313], [1738852931503, 1738852931511], [1738852931702, 1738852931706], [1738852931906, 1738852931911], [1738852932105, 1738852932109], [1738852932302, 1738852932309], [1738852932502, 1738852932508], [1738852932707, 1738852932718], [1738852932900, 1738852932905], [1738852933093, 1738852933102], [1738852933298, 1738852933307], [1738852933507, 1738852933513], [1738852933702, 1738852933706], [1738852933907, 1738852933911], [1738852934102, 1738852934107], [1738852934305, 1738852934312], [1738852934501, 1738852934506], [1738852934703, 1738852934707], [1738852934904, 1738852934908], [1738852935078, 1738852935084], [1738852935306, 1738852935311], [1738852935485, 1738852935489], [1738852935692, 1738852935697], [1738852935901, 1738852935905], [1738852936102, 1738852936106], [1738852936302, 1738852936307], [1738852936506, 1738852936510], [1738852936689, 1738852936693], [1738852936881, 1738852936891], [1738852937103, 1738852937107], [1738852937307, 1738852937312], [1738852937515, 1738852937519], [1738852937705, 1738852937709], [1738852937905, 1738852937909], [1738852938082, 1738852938086], [1738852938291, 1738852938296], [1738852938499, 1738852938503], [1738852938706, 1738852938710], [1738852938902, 1738852938906], [1738852939106, 1738852939110], [1738852939306, 1738852939310], [1738852939510, 1738852939514], [1738852939703, 1738852939708], [1738852939902, 1738852939907], [1738852940113, 1738852940117], [1738852940280, 1738852940285], [1738852940490, 1738852940494], [1738852940680, 1738852940686], [1738852940904, 1738852940909], [1738852941114, 1738852941126], [1738852941301, 1738852941323], [1738852941499, 1738852941505], [1738852941704, 1738852941709], [1738852941904, 1738852941909], [1738852942104, 1738852942121], [1738852942300, 1738852942310], [1738852942503, 1738852942507], [1738852942686, 1738852942691], [1738852942900, 1738852942905], [1738852943089, 1738852943094], [1738852943306, 1738852943311], [1738852943501, 1738852943512], [1738852943703, 1738852943707], [1738852943902, 1738852943908], [1738852944107, 1738852944112], [1738852944308, 1738852944313], [1738852944502, 1738852944507]]

In [20]:
# datetime.fromtimestamp(depth_timestamps[0][0] / 1000)

def get_cap_rec_diff(timestamps):
    diff_list = []
    for timestamp in timestamps:
        dt1 = datetime.fromtimestamp(timestamp[0] / 1000)
        dt2 = datetime.fromtimestamp(timestamp[1] / 1000)
        diff = (dt2 - dt1).total_seconds() * 1000
        diff_list.append(diff)
    
    return diff_list

def get_str_fin_diff(timestamps_1, timestamps_2):
    diff_list = []

    for i in range(len(timestamps_1)):
        dt1 = datetime.fromtimestamp(timestamps_1[i][0] / 1000)
        dt2 = datetime.fromtimestamp(timestamps_2[i][1] / 1000)
        diff = (dt2 - dt1).total_seconds() * 1000
        diff_list.append(diff)
    
    return diff_list

In [4]:
rgb_diff = get_cap_rec_diff(rgb_timestamps)
pd.DataFrame(rgb_diff).describe()

                0
count  100.000000
mean     5.760000
std      2.944332
min      3.000000
25%      4.000000
50%      4.000000
75%      7.000000
max     19.000000

In [5]:
depth_diff = get_cap_rec_diff(depth_timestamps)
pd.DataFrame(depth_diff).describe()

                0
count  100.000000
mean     5.600000
std      2.863917
min      4.000000
25%      4.000000
50%      5.000000
75%      5.000000
max     22.000000

In [21]:
full_diff = get_str_fin_diff(rgb_timestamps, depth_timestamps)
pd.DataFrame(full_diff).describe()

                0
count  100.000000
mean    22.880000
std      3.361337
min     18.000000
25%     21.000000
50%     22.000000
75%     24.000000
max     39.000000

In [53]:
import pandas as pd
import numpy as np
from datetime import timedelta

def get_str_fin_diff_2(timestamps_1, timestamps_2):
    diff_list = []

    for i in range(len(timestamps_1)):
        dt1 = timestamps_1[i][0]
        dt2 = datetime.fromtimestamp(timestamps_2[i][1] / 1000)
        dt1 = dt1.astype('datetime64[ms]').tolist()
        dt1 = dt1-timedelta(hours=3)
        # print(dt1)
        # print(dt2)
        diff = (dt2 - dt1).total_seconds() * 1000
        diff_list.append(diff)
    
    return diff_list

# Load the CSV file
df = pd.read_csv("./test_0602/0.csv", header=None)

df[0] = pd.to_datetime(df[0], unit='ms')
df[1] = pd.to_datetime(df[1], unit='ms')

df = df[[0, 1]].to_numpy()
full_diff = get_str_fin_diff_2(df, depth_timestamps)
pd.DataFrame(full_diff).describe()

                0
count  100.000000
mean    56.780000
std      4.258278
min     50.000000
25%     54.000000
50%     56.000000
75%     58.000000
max     72.000000